<section id="skills">
  <h3>Skills</h3>
  
  <div class="skill-card skill-card-full">
    <div class="skill-tags">
      {% for skill in site.data.author.skills.langages %}
      <span class="skill-tag">{{ skill }}</span>
      {% endfor %}
      {% for framework in site.data.author.skills.frameworks %}
      <span class="skill-tag">{{ framework }}</span>
      {% endfor %}
      {% for tool in site.data.author.skills.tools %}
      <span class="skill-tag">{{ tool }}</span>
      {% endfor %}
    </div>
  </div>
</section>
